.drawer {
    width: 250px;
    flex-shrink: 0;
    white-space: nowrap;
}
.drawerOpen {
    width: 250px;
    padding-top: 64px;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1);
}
.drawerClose {
    padding-top: 64px;
    transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1);
    overflow-x: hidden;
    width: 60px;
}
.menu {
    padding-top: 4px;
    padding-bottom: 4px;
}
.menuToggle {
    justify-content: flex-end;
}
.toggleIcon {
    justify-content: center;
    min-width: 27px;
    margin-left: auto;
}
.menuItem {
    width: 100%;
    display: flex !important;
    padding: 8px 16px !important;
    justify-content: left !important;
    font-size: 14px !important;
}
.itemIcon {
    margin-left: auto;
    min-width: 32px;
}
.expandIcon {
    /* padding-left: 14px; */
    margin-left: auto;
}
.menuListNested > li {
    padding-left: 32px !important;
}
