.appBar {
    z-index: 1201 !important;
}
.menuButton {
    margin-left: -18px;
    margin-right: 8px;
}
.titleBar {
    padding-left: 16px;
}
.logo {
    vertical-align: middle;
    margin-right: 12px;
}
.title {
    display: inline-block;
    vertical-align: middle;
}
.toolbarIcon {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px;
}
.toolbarIcon & > button:first-child {
    margin-right: 4px;
}
.menuList {
    min-width: 160px;
}
.menuTitle {
    padding: 0 16px;
}
.menuDivide {
    margin-top: 8px;
    margin-bottom: 8px;
}
