.appDrawer {
    z-index: 1300 !important;
}
.list {
    width: 300px;
}
.closeBtn {
    margin: 6px;
}
.listItem {
    padding-left: 24px;
}
.menuTitle {
    margin-top: 12px !important;
    margin-left: 12px !important;
}
